{% extends "appblog/base.html" %}

{% block main_content%}

<body>
<h2> Proyecto de python CoderHouse elaborado Strugo, Jaramillo y Juri. <br><br>

    Consiste en crear un blog donde tendremos 3 modelos. Los modelos seran, comentaristas, libros y comentarios.<br><br>
    
    Sin estar logueado, en la home podrás ver los libros, comentaristas y comentarios. Tambien se pueden buscar libros, comentaristas y comentarios. A la derecha del menu se puede ingresar al panel de login donde se puede iniciar sesion con el usuario de prueba ya creado o crear uno nuevo.<br><br>
    
    Una vez iniciado sesion el menu se transforma y verás las opciones de editar libros y añadir uno nuevo, asi como tambien la opcion de añadir comentaristas y comentarios. A la izquierda del menu se encontrará la opcion de editar perfil, ingresando se ve un resumen del perfil logueado y la opcion de modificar los datos (inlusive el avatar) junto con el cambio de contraseña.<br><br>
    
    Se adaptó el html y css para que la web sea funcional dejando de lado los aspectos esteticos.<br><br>
    
    Estos son los datos del usuario de prueba: usuario: prueba passwd: Nuevo1234<br><br>
    
    Estos son los datos del usuario admin: usuario: fernandos passwd: Strugo1234<br><br>
</h2>
{% endblock %}
</body>

</html> 

